.main-content{
  padding:16px;
}


.color-delete{
  color:rgba(225, 0, 0, 0.70);
}

.color-submit{
  color:rgba(0, 225, 0, 0.70);
}

.color-edit{
  color:rgba(0, 0, 225, 0.70);

}


.list-action:nth-child(2){
    margin-left: 10px;
}


.validated-form input.ng-invalid.ng-touched {
  background-color: rgba(250, 120, 126, 0.5);
}

/*.validated-form input.ng-valid.ng-touched {

  background-color: rgba(120, 250, 137, 0.38);

}
*/
