nav{
  height:100px;
}


.navbar-header>a>img{
  height:80px;
  margin-top:5px;
  margin-bottom:15px;
  opacity: 0.7;
}

.navbar-header a.logo-text-large{
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size:4em;
  text-decoration: none;
}



/*a.logo-text-large, a:visited, a:hover, a:active{
  font-size:3em;
  text-decoration: none;
}*/
