<div class="container-fluid">
  
  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Done</th>
        <th >Title</th>
        <th>Notes</th>
        <th>Due</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="todo in vm.todos| orderBy: ['done', vm.dueDateOrderDesc, '-createdDateTime']"
          ng-class="{overdue: todo.overdue, dueSoon: (todo.dueHours >= 0 && todo.dueHours <= 24), 'text-muted': todo.done}" >
        <td><input type="checkbox" ng-model="todo.done" ng-change="vm.updateDoneStatus(todo._id)"  /></td>
        <td class="todo-title" title="{{todo.title}}">{{vm.truncate(todo.title, 175)}}</td>
        <td title="{{todo.notes}}">{{vm.truncate(todo.notes, 100)}}</td>
        <td class="todo-duedate" title="{{(!todo.done && todo.hasDueDate)?('Due on ' + (todo.dueDateTime | date:'MM/dd/yyyy h:mm a')):''}}">
          {{(!todo.done && todo.hasDueDate)?todo.dueMessage:''}}</td>

        <td>
          <a class="list-action" ng-click="vm.setForEdit(todo)" data-toggle="modal"
              data-target="#todoEdit" href="">
            <span class="glyphicon glyphicon-pencil color-edit"></span>
          </a>

          <div class="btn-group delete-confirm">
            <a class="list-action dropdown-toggle" data-toggle="dropdown" href="">
              <span class="glyphicon glyphicon-remove color-delete"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><span class="confirm-message">Delete?<span><br/>
                  <button type="button" class="btn btn-default" >No</button>
                  <button type="button" class="btn btn-danger" ng-click="vm.deleteTodo(todo._id)">Yes</button>
              </li>
            </ul>
          </div>

        </td>

      </tr>
    </tbody>
  </table>


  <button type="button" class="btn btn-primary" ng-click="vm.editMode='create'" data-target="#todoEdit" data-toggle="modal" >Add</button>

    <!-- Create/Edit dialog -->
    <div class="modal" id="todoEdit" >

      <div class="modal-dialog" >
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            <h4 class="modal-title">{{vm.editMode=='edit'?'Edit':'Create'}}</h4>
          </div>

          <div class="modal-body">
            <form name="vm.todoForm" class="validated-form"  novalidate>

              <!-- Title -->
              <div class="form-group">
                <label class="control-label" for="editTodoTitle">Title</label>
                <input type="text" class="form-control" id="editTodoTitle" name="title"
                ng-model="vm.formData.title" placeholder="What to do?" required />
                <br />
                <div class="alert-danger" ng-show="vm.todoForm.title.$touched">
                  <span ng-show="vm.todoForm.title.$error.required">title is required</span>
                </div>
              </div>

              <!-- Notes -->
              <div class="form-group">
                <label class="control-label" for="editTodoNotes" >Notes</label>
                <input type="text" class="form-control" name="notes"  id="editTodoNotes"
                ng-model="vm.formData.notes" />
                <!-- placeholder="(optional) Extra information" -->
              </div>

              <!-- Completed -->
              <div class="form-group" ng-show="vm.editMode=='edit'">
                <label class="control-label" for="editTodoDone" >Done</label>
                <input type="checkbox" class="form-control" name="done"  id="editTodoDone"
                ng-model="vm.formData.done" />
              </div>

              <!-- Due Date -->
              <div class="form-group">
                <label class="control-label" for="editTodoDueDate" >Due</label>
                <!-- <input type='datetime-local' class="form-control" name="dueDateTime" id="editTodoDueDate" ng-model="vm.formData.dueDateTime"
                placeholder="(optional) Due date and time" step="900" /> -->
                <input type='text' class="form-control" name="dueDateTime" id="editTodoDueDate"
                ng-model="vm.formData.dueDateTime"
                datetimepicker datetimepicker-options="{showClose:true}"  />
                <!-- placeholder="(optional) Due date and time" -->
              </div>

              <!-- Buttons -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                ng-click="vm.clearForm();vm.selectedTodoId=null">Cancel</button>
                <button type="submit" ng-disabled="vm.todoForm.$invalid"  data-dismiss="modal"
                ng-click="vm.submitTodo()"  class="btn btn-success">Submit</button>
              </div>
            </form>
          </div>

      </div> <!-- content -->
    </div>  <!-- dialog -->
  </div>  <!--modal -->


  <script>
  $('#todoEdit').on('shown.bs.modal', function () {
      $('#editTodoTitle').focus();
  })
  </script>

</div>
